#navigation {
    background-color: aqua;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#main_container {
    background-color: aqua;
    text-align: center;
}

#left_column {
    background-color: red;
    width: 49%;
    min-width: 400px;
    display: inline-block;
}

#right_column {
    background-color: green;
    width: 50%;
    display: inline-block;
}

#footer {
    background-color: blanchedalmond;
    height: 30px;
    overflow: scroll;
    margin-top: 15px;
}