#navigation {
    background-color: aqua;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#left_column {
    background-color: red;
}

#right_column {
    background-color: green;
}

#footer {
    background-color: blanchedalmond;
    height: 30px;
    overflow: scroll;
    margin-top: 15px;
}