#left {
    width: 50%;
    background-color: azure;
    float: left;
}

#right {
    width: 50%;
    background-color: blanchedalmond;
    float: left;
}

#container {
    background-color: greenyellow;
    border: 1px solid #665544;
    overflow: auto;
    width: 100%;
}